.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 2rem 0;

  &__name-box {
    display: flex;
    flex-direction: column;
  }

  &__name {
    font-size: 5.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
  }

  &__profession {
    font-size: 2.7rem;
    font-weight: 300;
  }
}

.nav {
  font-size: 2.1rem;

  &__list{
    list-style: none;

  }

  &__item {
    display: inline-block;
  }

  &__link:link,
  &__link:visited {
    color: $color-secondary;
    font-weight: 700;
    letter-spacing: .1rem;
    text-decoration: none;
    padding: .7rem 0;
    margin: 0 2.5rem;
    text-transform: uppercase;
    border-bottom: 4px solid $color-secondary;
    transition: all .2s;

    &:hover {
      background-color: $color-secondary;
      color: $color-primary;
      margin: 0 1.5rem;
      padding: .7rem 1rem;
    }
  }
}
